Source: wumpe
Section: devel
Priority: optional
Maintainer: StuStaNet <admins@stusta.de>
Uploaders: Michael Loipfuehrer
Build-Depends: debhelper (>= 11),
               dh-golang,
               golang-go
Standards-Version: 4.2.1
Homepage: https://gitlab.stusta.de/stustanet/wumpe
Vcs-Browser: https://gitlab.stusta.de/stustanet/wumpe
Vcs-Git: https://gitlab.stusta.de/stustanet/wumpe.git
XS-Go-Import-Path: gitlab.stusta.de/stustanet/wumpe
Testsuite: autopkgtest-pkg-go

Package: wumpe
Architecture: any
Built-Using: ${misc:Built-Using}
Depends: ${misc:Depends},
         ${shlibs:Depends}
Description: Auto build and deploy system for github/gitlab webhooks
 
