[Unit]
Description=Wumpe Webhook Build System

[Service]
ExecStart=/usr/local/bin/wumpe
Restart=on-failure

NonBlocking=true

WorkingDirectory=/var/www/
User=wumpe
Group=www-data
PrivateTmp=yes
ProtectSystem=full
PrivateDevices=yes
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectControlGroups=true
NoNewPrivileges=yes

[Install]
WantedBy=multi-user.target
